# In opt mode, bazel by default builds both PIC and non-PIC object files for
# tests vs binaries. We don't need this feature and it slows down opt builds
# considerably.
build --force_pic

build --enable_bzlmod

# Build with C++20
# TODO This currently only works with Clang. Uplift LLVM when a fix for gcc
# lands. 
build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20

# Disable build of both shared and static libs
build --dynamic_mode=off

# Prevent invalid caching if input files are modified during a build.
build --experimental_guard_against_concurrent_changes

# Add layering check to all projects.
build --features=layering_check

build --incompatible_dont_enable_host_nonhost_crosstool_features=false
build --per_file_copt=third_party/.*\.(c|cc|cpp|cxx)$@-w
build --host_per_file_copt=third_party/.*\.(c|cc|cpp|cxx)$@-w
build --per_file_copt=external/.*\.(c|cc|cpp|cxx)$@-w
build --host_per_file_copt=external/.*\.(c|cc|cpp|cxx)$@-w

build:debug --strip=never
build:debug -c dbg

build:mold --linkopt=-fuse-ld=mold --host_linkopt=-fuse-ld=mold
build:lld --linkopt=-fuse-ld=lld --host_linkopt=-fuse-ld=lld

build:generic_clang --repo_env=CC=clang

build:ci --config=mold
build:ci -c fastbuild
build:ci --disk_cache=./bzl-cache
build:ci --sandbox_writable_path=$HOME/.cargo

# Include user defines
# It's a good practice to put something like 
try-import %workspace%/user.bazelrc
