[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/indicators"]
	path = third_party/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "third_party/libpmu"]
	path = third_party/libpmu
	url = https://github.com/perf-toolbox/libpmu.git
